$red: #ff5953;
$green: #00a854;
// 子页面hover 以及active样式
$panelsHoverColor: rgba(0, 0, 0, 0.03);

.title_1{
    font-size: 14px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: bold;
    color: #000000;
}
.title_2{
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    color: #333333;
}